{% extends "base.html" %}
{% block content %}
   <!-- Main jumbotron for a primary marketing message or call to action -->
   <div class="title-custom">
      <div>
         <h1 class="display-4">Principais notícias de tecnologias</h1>
         <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      </div>
   </div>
   <div class="container">
      <!-- Example row of columns -->
      <div class="row box-container">
          {% for notice in notices %}
          <div class="box">
              <p class="title-notice">{{notice.title}}</p>
              <p><a class="button" href="#" role="button">Ver detalhes &raquo;</a></p>
           </div>
          {% endfor %}
      </div>
      <hr>
   </div>
   <!-- /container -->
{% endblock %}